@charset "utf-8";
/*头部CSS*/
.c1
{
   zoom: 1;
}
.tophd
{
   height: 39px;
   padding: 2px 0 4px;

   transition: all .4s;

   border-bottom: 1px solid hsl(0, 0%, 93%);
   background-color: hsl(0, 0%, 96%);
}
*
{
   word-wrap: break-word;
}
body
{
   font: 12px/1.3 Tahoma,'Microsoft Yahei','Simsun';

   width: 100%;
   margin: 0;

   color: #333;
   background-color: #f5f5f5;
}
li
{
   list-style: none;
}
a:link,
a:visited
{
   text-decoration: none;

   color: #333;
}

.wp
{
   width: 1200px;
   margin: 0 auto;
}
.c1 table{
	background-color: hsl(0, 0%, 93%);
	height: 32px;
	line-height: 32px;
	margin: 4px 10px 0px 0px;
	float: left;
	overflow: visible;
	border-radius: 4px;
	border:1px solid hsl(0, 0%, 96%);
}
#scbar_txt{
	border: none;
	background: none;
	width: 130px;
	padding: 0px 5px;
	margin-left: 10px; 
	outline: none;
	color:  hsl(0, 0%, 60%);
}
.scbar_txt_td{
	background:none;
	height: 32px;
	width: 30px;
	color: hsl(203, 9%, 44%);
}
.scbar_txt_td a:link,.scbar_txt_td a:visited,.scbar_txt_td a:hover,.scbar_txt_td a:active{
	text-align: center;
	color: hsl(203, 9%, 44%);	
	display: block;
	text-decoration: none;
	padding-left: 0px;
	font-weight: bold;
}
.scbar_txt_btn{
	background:url("../image/search.png") no-repeat 50% 50%;
}
#searchsubmit{
	background: transparent none;
	box-shadow: none;
	overflow: hidden;
	cursor: pointer;
	border:none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	height: 32px;
	width: 30px;
}
#scarch_txt{
	color:hsl(0, 0%, 20%);
	line-height: 84px;
}
.c2 a:link,.c2 a:visited{ 
	height: 32px;
	width: 55px;
	color: hsl(0, 0%, 53%);
	text-decoration: none;
	padding: 4px;
	display: block;
	text-align: left;
	float: left;
	line-height: 38px;
}
.c2 a:hover,.c2 a:active{
	text-decoration: underline;
}
.login{
	float: right;
}
.login ul{
	margin-top: 0px;
	height: 32px;
}
.login ul li{
	margin-top: 3px;
	margin-left: 10px;
	color: hsl(0, 0%, 53%);
	float: left;
	overflow: hidden;

}
.login ul li a{
	background-image: url("../image/appicon.png");
	background-position: 0 50%;
	background-repeat: no-repeat;
	height: 32px;
	display: inline-block;
}
#qq{
	width: 16px;
}
#weixin{
	width: 16px;
	background-position: -34px 50%;
}
#dengru{
	margin-top: 10px;
	background: transparent none;
	color: hsl(0, 0%, 53%);
}
#zhuce{
	margin-top: 5px;
	background: transparent none;
	background-color: hsl(86, 72%, 43%);
	color: hsl(0, 0%, 100%);
	border-radius: 5px;
	width: 60px;
	height: 28px;
	line-height: 27px;
	text-align: center;
}
.head{
	background-color: hsl(217, 24%, 17%);
	height: 89px
}
.logo{
	float: left;
	margin: 5px auto 0px auto;
}
.menu{
	width:872px;
	height: 70px;
	overflow: hidden;
	float: right;
	margin-top: 5px;
}
.menu ul{
	width: 872px;
	line-height: 70px;
	text-align: center;
}
.menu li{
	float: left;

}
.menu ul a,.menu a:link,.menu a:hover,.menu a:active{
	padding:0px 15px;
	font-size: 16px;
	font-weight: bold;
	color: rgba(255,251,240,.7) 
}
.menu .menu_txt ,.menu .menu_txt a:visited {
	color: hsl(86, 72%, 43%) !important;
}
.none{
	margin-top: -3px;
	display: none;
	position: absolute;
	z-index: 2;
}
.none ul{
	margin: 0px;
	padding: 0px;
	width: 200px;
}
.none li{
	width: 147px;
	float: none;
}
.menu a[id^="title"]{
	display: inline-block;
}
.menu a[id^="title"]:hover+.none,.none:hover{
	display: block;
	
}
.none ul li{
	background-color: rgba(255,251,240,1);
	height: 50px;
	line-height: 50px;
	
}
.none ul li a,.none ul li a:link,.none ul li a:visited,.none ul li a:hover,.none ul li a:active{
	font-size: 14px !important;
	color: #000;
	text-align: center;
}
.none ul li a{
	animation:head_ani_out 0.5s;
   	white-space: nowrap;
   	animation-fill-mode: forwards;
}
.none ul li:hover,.none ul li:active{
	background-color: hsl(0, 0%, 96%);
}
.none ul li:hover a{
	animation:head_ani_in 0.5s;
   	white-space: nowrap;
   	animation-fill-mode: forwards;
}
@keyframes head_ani_in{
	from {font-size: 14px;}
	to {font-size: 18px;}
}
@keyframes head_ani_out{
	0% {font-size: 18px;}
	100% {font-size: 14px;}
}