@charset 'utf-8';
@import url(header.css);
.content a:hover{
	text-decoration: underline;
}
.clear
{
   margin: 0;
   padding: 0;
}
em
{
   font-style: normal;

   display: inline;
   float: left;

   height: 14px;
   margin: 18px 0 0 10px;

   color: hsl(0, 0%, 60%);
}
div[class$='_img']
{
   text-align: center;

   color: white;
   background-color: black;
}
.logo_img
{
   font-size: 30px;
   line-height: 79px;

   width: 310px;
   height: 79px;
}
/*面包屑导航条*/
.daohang ol{
	font-size: 16px;
	padding-top: 20px;
}
.breadcrumb a:hover{
	text-decoration: underline;
}
.leftdaohang{
   width: 200px;
}