#开启重写模式
RewriteEngine On
#设置根目录
RewriteBase /html
#设置重写规则
RewriteRule index.html index.php
RewriteRule index.htm index.php
RewriteRule bbs.html bbs.php
RewriteRule ^form-(\d+)-(\d+).html$ index.php?part=$1&title=$2
RewriteRule ^part-(\d+).html$ index.php?part=$1